<%= form_for(@translated_line) do |f| %>
  <% if @translated_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@translated_line.errors.count, "error") %> prohibited this translated_line from being saved:</h2>

      <ul>
      <% @translated_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :translation_line_id %><br>
    <%= f.text_field :translation_line_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :language_id %><br>
    <%= f.text_field :language_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
