<p id="notice"><%= notice %></p>

<h1>Listing Translated Lines</h1>

<table>
  <thead>
    <tr>
      <th>Translation line</th>
      <th>Description</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @translated_lines.each do |translated_line| %>
      <tr>
        <td><%= translated_line.translation_line %></td>
        <td><%= translated_line.description %></td>
        <td><%= translated_line.language %></td>
        <td><%= link_to 'Show', translated_line %></td>
        <td><%= link_to 'Edit', edit_translated_line_path(translated_line) %></td>
        <td><%= link_to 'Destroy', translated_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Translated line', new_translated_line_path %>
