<p id="notice"><%= notice %></p>

<h1>Listing Translation Lines</h1>

<table>
  <thead>
    <tr>
      <th>Translation file</th>
      <th>Translation</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @translation_lines.each do |translation_line| %>
      <tr>
        <td><%= translation_line.translation_file %></td>
        <td><%= translation_line.translation_id %></td>
        <td><%= translation_line.description %></td>
        <td><%= link_to 'Show', translation_line %></td>
        <td><%= link_to 'Edit', edit_translation_line_path(translation_line) %></td>
        <td><%= link_to 'Destroy', translation_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Translation line', new_translation_line_path %>
