<%= form_for(@translated_file) do |f| %>
  <% if @translated_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@translated_file.errors.count, "error") %> prohibited this translated_file from being saved:</h2>

      <ul>
      <% @translated_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :translation_file_id %><br>
    <%= f.text_field :translation_file_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
