<p id="notice"><%= notice %></p>

<h1>Listing Translation Files</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @translation_files.each do |translation_file| %>
      <tr>
        <td><%= translation_file.name %></td>
        <td><%= link_to 'Show', translation_file %></td>
        <td><%= link_to 'Edit', edit_translation_file_path(translation_file) %></td>
        <td><%= link_to 'Destroy', translation_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Translation file', new_translation_file_path %>
